.book-details-container {
  width: 100vw;
  min-height: 100vh;
  background-color: #f5f7fa;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.book-details-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin-top: 80px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .book-details-content {
    background-color: #ffffff;
    border-radius: 16px;
    width: 75%;
    margin-top: 120px;
    padding-bottom: 20px;
  }
}

.book-cover-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .book-cover-info-container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.book-details-cover-pic {
  width: 235px;
  height: 275px;
  border-radius: 12px;
}

.book-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}

@media screen and (min-width: 768px) {
  .book-info-container {
    height: 192px;
    width: 303px;
    margin-left: 30px;
  }
}

.book-details-title {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #334155;
  margin-bottom: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .book-details-title {
    font-size: 32px;
    line-height: 48px;
    width: 100%;
  }
}

.book-details-author-name {
  font-family: 'Roboto';
  font-size: 16x;
  font-weight: 500;
  line-height: 24px;
  color: #475569;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .book-details-author-name {
    font-size: 24px;
    line-height: 32px;
  }
}

.book-details-rating {
  font-family: 'Roboto';
  font-size: 16x;
  font-weight: 500;
  line-height: 24px;
  color: #475569;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .book-details-rating {
    font-size: 24px;
    line-height: 32px;
  }
}

.book-details-star-icon {
  margin-left: 5px;
  margin-right: 5px;
  color: #fbbf24;
}

.book-details-hr-line {
  width: 312px;
  border-width: 0.5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #94a3b8;
}

@media screen and (min-width: 768px) {
  .book-details-hr-line {
    width: 90%;
  }
}

.book-details-status {
  font-family: 'Roboto';
  font-size: 16x;
  font-weight: 500;
  line-height: 24px;
  color: #475569;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .book-details-status {
    font-size: 24px;
    line-height: 32px;
  }
}

.book-details-span {
  color: #0284c7;
}

.book-details-about-author-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
}

.book-details-about-author-heading {
  color: #334155;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto';
  font-weight: 600;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .book-details-about-author-heading {
    font-size: 24px;
    line-height: 32px;
  }
}

.book-details-about-author-description {
  color: #475569;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Roboto';
  font-weight: 400;
  width: 95%;
}

@media screen and (min-width: 768px) {
  .book-details-about-author-description {
    font-size: 16px;
    line-height: 28px;
  }
}

.book-details-failure-container {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .book-details-failure-container {
    margin-top: 100px;
  }
}

.book-details-failure-image {
  height: 118px;
  width: 238px;
}

@media screen and (min-width: 768px) {
  .book-details-failure-image {
    height: 230px;
    width: 470px;
  }
}

.book-details-failure-description {
  color: #475569;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Roboto';
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .book-details-failure-description {
    font-size: 24px;
    line-height: 48px;
  }
}

.book-details-failure-button {
  background-color: #0284c7;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin-top: 10px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .book-details-failure-button {
    font-size: 14px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 24px;
  }
}

.book-details-loader-container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .book-details-loader-container {
    margin-top: 120px;
  }
}
