.book-shelves-container {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #f5f7fa;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.book-shelves-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85%;
  margin-top: 56px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .book-shelves-content {
    flex-direction: row;
  }
}

.mobile-search-bar-container {
  width: 264px;
  height: 36px;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .mobile-search-bar-container {
    display: none;
  }
}

.mobile-books-search-input {
  background-color: #ffffff;
  color: #cbd5e1;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 15px;
}

.mobile-search-icon-container {
  width: 52px;
  height: 100%;
  background-color: #edeff1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-icon {
  width: 20px;
  height: 20px;
  color: #cbd5e1;
}

.mobile-bookShelves-heading {
  color: #334155;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .mobile-bookShelves-heading {
    display: none;
  }
}

.mobile-books-nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: 0;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .mobile-books-nav-items {
    display: none;
  }
}

.desktop-nav-links-container {
  min-width: 256px;
  min-height: 100vh;
  align-self: stretch;
  background-color: #ffffff;
  background-size: cover;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .desktop-nav-links-container {
    display: none;
  }
}

.desktop-bookShelves-heading {
  color: #334155;
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 32px;
}

.desktop-navigation-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
  width: 100%;
  margin-right: 40px;
}

.desktop-books-content {
  display: flex;
  flex-direction: column;
  min-width: 80%;
}

.desktop-search-books-heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .desktop-search-books-heading {
    display: none;
  }
}

.all-books-heading {
  font-size: 18px;
  color: #334155;
  font-weight: 600;
}

.desktop-search-container {
  width: 264px;
  height: 36px;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  margin-top: 0;
}

.desktop-books-search-input {
  background-color: #ffffff;
  color: #cbd5e1;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 15px;
}

.bookshelf-books-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .bookshelf-books-list {
    margin-left: 20px;
  }
}

.bookshelf-failure-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .bookshelf-failure-container {
    width: 800px;
    height: 60vh;
  }
}

.bookshelf-failure-img {
  width: 238px;
  height: 117px;
}

@media screen and (min-width: 768px) {
  .bookshelf-failure-img {
    width: 450px;
    height: 220vh;
  }
}

.bookshelf-failure-description {
  color: #475569;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .bookshelf-failure-description {
    font-size: 24px;
    line-height: 48px;
  }
}

.bookshelf-failure-button {
  background-color: #0284c7;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin-top: 10px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .bookshelf-failure-button {
    font-size: 14px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 24px;
  }
}

.bookshelf-loader-container {
  width: 90vw;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .bookshelf-loader-container {
    width: 800px;
    height: 60vh;
  }
}

.no-books-found-container {
  width: 100%;
  height: 400%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.no-books-found-img {
  height: 175;
  width: 260px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .no-books-found-img {
    height: 330px;
    width: 480px;
    margin-bottom: 20px;
  }
}

.no-books-found-description {
  text-align: center;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #475569;
}

@media screen and (min-width: 768px) {
  .no-books-found-description {
    font-size: 24px;
    line-height: 30px;
  }
}
